/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #fff;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #46BCFF;
  border-color: #2C99D7;
  border-radius: 48.5px;
  height: 38px;
  width: 120px;
  box-shadow: 0 2px 0 0 #2C99D7;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  
}

/* Header */

#header {
  background-color: #39BAAA;
  font-size: x-large;
  height: 88px;
}

/* logo size */

.logo{
  height: 40.61px;
  width: 233px;

}

.responsive-web-branding-full-l {
  height: 40.61px;
  width: 233px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Text box styles */

.text-box {
  box-sizing: border-box;
  height: 80px;
  width: 590px;
  border: 2px solid #B1B1B1;
  border-radius: 6px;
}
.text-box.date {
  height: 50%;
  width: 50%;
}
.text-box.title {
  height: 40px;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


